@charset "UTF-8";
/*header start*/
.xhtml{
    overflow-x: hidden;
    scroll-padding-top: 1px;
    scroll-behavior: smooth;

}
:root{
    --main-color: #e84242;
    --black-color: #000000;
    --border:1px solid rgba(255,255,255, 0.4);

}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease ;
    font-family: 'Poppins', sans-serif;

    
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 90px;
    scroll-behavior: smooth;

}


html::-webkit-scrollbar{
    width: 15px;
    background-color: white;
}
html::-webkit-scrollbar-track{
   
    background-color: #e84242;

}


html::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: black;
       border-radius: 30px;
       border-color: #e84242;
}


body{

    background-color:var(--main-color);
    
    
}

section{
    padding: 35px 7%;
}

a{
    color: var(--black-color);
    text-decoration: none;
}

.btn{   
    margin-top:  10px;
    display:inline-block;
    padding: 20px 37.5px;
    border-radius: 300px;
    font-size: 17px;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;


}


.search-input{
    font-size: 16px;
    color: var(--black-color);
    padding: 10px;
    text-transform: none;
    border-radius: 30px;
}
.btn:hover{
    opacity: 0.9;

    

}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: white;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 2px rgb(0,0,0 /75%);
    transform: scaleY(0);
}
.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form i{
    cursor: pointer;
    font-size: 22px;
    margin-right: 15px;
    color: var(--black-color);


}
.header .search-form input{
    width: 100%;
}



.header .logo img{

    height: 70px;
    background-color: white;


}

.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 20px 7%;
    border-radius: 300px;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top:0;
    z-index: 1000px;
   
}

.header .navbar a{

    margin:1px;
    font-size:16px;
    color: var(--black-color);
    border-bottom: 1px solid transparent;
}
.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 5px;
}

.header .buttons button{
    cursor: pointer;
    font-size: 25px;
    margin-left: 20px;
    background-color: transparent;

}

.header .cart-items-container{
    position: absolute;
    top: 95%;
    height: calc(100vh - 90px);
    width: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    right: -100%;

}

.header .cart-items-container.active{
    right: 30px;

}

.header .cart-items-container .cart-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 15px;
    
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
    border-radius: unset;


}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: var(--black-color);


}

.header .cart-items-container .cart-item .content h3{
    font-size: 20px;
    color: #000000;
    padding-bottom:5px ;


}

.header .cart-items-container .cart-item .content .price{
    font-size: 15px;
    color: var(--black-color);

}



.header .cart-items-container .cart-item img{
    height: 60px;
     


}
.header .cart-items-container .cart-item:hover{
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
}
     

#menu-btn{
    display: none;
}








.home{
    min-height: 100vh;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover ;
    background-position: center;
    margin-top: -117px;
    display: flex;
    align-items: center;
    
    
}


.home .content {
    max-width: 600px;
}

.home .content h3{
   font-size:  60px;
    color:white;
}


.home .content  p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    padding:10px 0;
    color: #ccc;


}





.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:15px;
}

.menu .box-container .box{
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    min-height: 600px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box img{

   width: 100%;
   object-fit: cover;
}
.menu .box-container .box .menu-category{
font-size: 12px;
text-transform: uppercase;
}

.menu .box-container .box .h3{
    font-size: 30px;
    }
    
 
    .heading{

        color: white;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 35px;
        border-bottom: 1px solid white;
    }
    
    .heading span{

        color: white;
        text-transform: uppercase;
        
    }

    .price span{
        color: #000000;
        text-decoration: double line-through;
    }



    
    .products .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap:15px;
    }
    
    .products .box-container .box{
        padding: 30px;
    background-color: white;
    border-radius: 15px;
    min-height: 600px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    }


    .products .box-container .box .box.head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 10;
    }


    
    .products .box-container .box .title{
        font-size: 14px;
        text-align: start;

    }

    .products .box-container .box .name{
        font-size: 40px;
        font-weight: bold;
        text-align: start;
        overflow-wrap: anywhere;
        
    }


    .products .box-container .box-bottom{
        display: flex;
        justify-content: space-between;
         align-items: center;
         position: relative;
         z-index: 10;
    }

    .products .box-container .box-bottom .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .products .box-container .box-bottom .info .price{
        font-size: 30px;

    }

    .products .box-container .box-bottom .info .amaount{
        font-size: 14px;
        
    }

    .products .box-container .box-bottom .product-btn a
    {      display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 65px;
            height: 65px;
            border: 2px solid var(--main-color);
        
    }


    .products .box-container .box-bottom .product-btn a i{   
        
        font-size: 16px;
        color: var(--main-color);
        
    }   

    .about .row{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .about .row .image{
        flex: 1 1 450px;
    }

    .about .row img{
        width: 100%;
       
    }
    .about .row .content{
        flex: 1 1 450px;
    }
  
    .about .row .content h3{
       font-size: 30px;
       color: white;
    }
  

    .about .row .content p{
        font-size: 16px;
        color: white;
        padding: 10px 0;
        line-height: 18px;
     }


     .products .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap:15px;
    }
    

    .review .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap:15px;
    }
    
    .review .box-container .box{
        border: var(--border);
        text-align: center;
        padding: 30px 20px; 
        background-color: white;
        border-radius: 30px;
       }


    .review .box-container .box p{
        font-size: 15px;
        line-height: 18px;
        padding: 20 0;
    }


    .review .box-container .box .user{
        height: 70px;
        width: 70px;
        border-radius: 35px;
        object-fit: cover;
    }

    .review .box-container .box h3{
        padding: 10px 0;
        font-size: 20px;
        color: var(--main-color);



    }

    .review .box-container .box .stars i{
        font-size: 15px;
        color: gold;
    }


    .contact .row{
        display: flex;
        background-color: #000000;
        flex-wrap:wrap ;
        gap:10px;


    }

    .contact .row .map{
        flex: 1 1 450px;
        width: 100%;
        ;
        
    
      


    }

    .contact .row form{
        flex: 1 1 450px;
        padding: 50px 20px;
        text-align:center;


    }


    .contact .row form h3{
       text-transform: uppercase;
       font-size: 35px;
       color: #ccc;


    }
    .contact .row form .inputBox{
        display: flex;
        align-items: center;
        margin: 20px 0;
        border:var(--border);

 
 
     }


     .contact .row form .inputBox i{
        color: white;
        font-size: 20px;
        padding-left:20px ;
 
 
     }

     .contact .row form .inputBox input{
        width: 100%;
        padding: 20px;
        font-size: 17px;
        color: #fff;
        text-transform: none;
        background: none;

     }

     .contact .row form  .btn{
        color: var(--main-color);
        background-color: white;

     }


     .blog .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 15px;

     }


     .blog .box-container .box{
        background-color: #fff;
        border-radius: 30px;
        
         
     }

     
     .blog .box-container .box .image{
       height: 250px;
       overflow: hidden;
       width: 100%;
       border-top-left-radius:30px ;
       border-top-right-radius:30px ;
         
     }
     .blog .box-container .box .image img{
        height: 100%;
        object-fit: cover; 
        width: 100%;
          
      }

      .blog .box-container .box:hover .image img{
        transform: scale(1.2);
      }

      .blog .box-container .box .content{
       padding: 20px;
          
      }

      .blog .box-container .box .content .title{
        font-size: 25px;
        line-height: 15px;
           
       }

      
      .blog .box-container .box .content span{
        display: block;
        padding-top: 10px;
        font-size: 20px;
           
       }

       .blog .box-container .box .content p{
        font-size: 16px;
        line-height:1.8;
        color: gray;
       }


       .footer {
        background-color: var(--black-color);
        text-align: center;

       }

       
       .footer .search{
        display: flex;
        justify-content: center;

       }


       .footer .search .search-input{
        width: 300px;

       }

       .footer .search .btn{
        background-color: var(--main-color);
        padding: 10px 20px;
        margin-left: 20px;

       }

       .footer .share{
        padding: 20px 0px;

       }

       
       .footer .share a{
      
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: white;
        font-size: 20px;
        border: var(--border);
        border-radius: 50%;
        margin:3px;

        
       }

       .footer .share a:hover{
        background-color: var(--main-color);

        }

        .footer .links{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
           

        }

        .footer .links a{
            background-color: var(--main-color);
            padding: 7px 20px;
            color: white;
            border: var(--border);

        }

        .footer .links a:hover{
            background-color: var(--black-color);
            opacity: 0.7;
        }
        .footer .links a:active{
            background-color: var(--black-color);

        }

        .footer .credit{
            font-size: 20px;
            color:#ccc;
            font-weight: 300;
            padding-top:  15px; ;
        }

        .footer .credit span{
            color: var(--main-color);
        }

        




        @media (max-width: 991px){
           html{
            font-size: 55%;

            }

            .header{
                padding:15px 20px;

            }

            .header .logo img{
                height: 70px;
            }


            .section{
                padding: 20px;

            }

            .products .box-container .box .box-head .name{
                font-size: 34px;
            }
        }


        @media (max-width: 768px){

            .header #menu-btn{
                display: inline-block;

            }

            .header .navbar{
                position: absolute;
                top: 95%;
                background-color: #fff;
                height: calc(100vh - 90px);
                width: 300px;
                box-shadow: 0px 20px 14px 0px rgba(0, 0, 0, 75);
                right: -100%;
            }

            .header .navbar:active{
                right: 30px;
            }

            .header .navbar a{
                color: var(--black-color);
                display: block;
                margin: 15px;
                padding: 5px;
                font-size: 20px;


            }

            
        }

        
        @media (max-width: 576px){

          html{
            font-size: 50%;

          }

          .header #menu-btn{
            display: inline-block;
          }
        }